.carimg{
    height: 70vh;
}

.shopcardimg{
    height: 20rem;
    width: 14rem;
    padding-top: 3.4rem;
   
}
.shopcard{
    display: flex;
    justify-content: space-around;
}
.card1{
    width: 15rem;
}
.body{
    background-color: var(--body_background) !important;
}
